{% extends "Activity/base.html" %}

{% block content %}


<div class="container">
<table class="table">
<tbody>

<th scope="row"></th>
{% for sport in object_list %}
     <tr>
         <td> {{ sport }}  </td>
     {% for player in sport.playereligibility_set.all %}
           <td> <a href="{% url 'playerdetail' player.pk %}"> {{ player.Name_of_player_id }} </a> </td>
           <td class="table-danger"> <a href="{% url 'playerdelete' player.pk %}"> delete </a> </td>
        {% endfor %}

</tr>
{% endfor %}

</tbody>
</table>
</div>

{% endblock %}



